body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    340deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(37, 37, 47, 1) 53%,
    rgba(255, 254, 254, 1) 100%
  );
  background-attachment: fixed;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
